---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HandWrittenName from '../components/HandWrittenName.jsx';
import ScrollArrow from '../components/ScrollArrow.jsx';
---

<Layout title="about Alvaro Larraya">
	<Navbar
		github="https://github.com/alvarolarraya";
		linkedin="https://linkedin.com/in/álvaro-larraya-830700240";
		email="https://mail.google.com/mail/?view=cm&fs=1&to=alvaro.larraya1@gmail.com";
	/>
	<main>
		<div id="mainDiv">
			<video id="pcVideo" autoplay loop muted plays-inline class="back-video">
				<source src="/videos/parachute.mp4" type="video/mp4">
			</video>
			<video id="mobileVideo" autoplay loop muted plays-inline class="back-video">
				<source src="/videos/parachute_mobile.mp4" type="video/mp4">
			</video>
			<div id="handWritten"><HandWrittenName client:load /></div>
			<ScrollArrow
				down="#presentation"
				up="#mainDiv"
				client:only="react"
			/>
		</div>
		<div id="presentation">
			<img id="myPhoto" src="/imgs/meBig.webp" alt="Mi foto">
			<p>Aiming to be a <b>Developer</b> in <b>Madrid</b>. I'm very excited about both the city and the job. 
				Challenges like these constitute a great environment to develop new soft and technical skills, so I'll seize the opportunity to make it a reality. See you soon. 😄</p>
		</div>
	</main>
</Layout>

<link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
<style>
    .back-video{
        width:100%;
        z-index: -1;
        position:absolute;
        left:0;
        top:0;
        opacity: .3;
    }
	#mobileVideo{		
		display:none;
	}
	#handWritten{
		padding-top: 10vh;
		display: grid;
		justify-items: center;
	}
	#mainDiv{
		height: 100vh;
	}
	#presentation{
		height: 100vh;
		width: 100vw;
		display: grid;
		justify-items: center;
	}
	#myPhoto{
		padding-top: 5%;
		width: 25vw;
	}
	span{
		height: 100vh;
		display: inline;
		position: relative;
		
	}
	p{
		color:rgb(216, 216, 216);
		font-size:3rem;
		font-family: "Caveat";
		margin: 0px;
		text-align: center;
		margin-left: 15%;
		margin-right: 15%;
	}
	b{
		color:white;
		font-size:4rem;
	}
	.presentationParagraph{
		display:flex;
		justify-content: center;
	}
	@media only screen and (max-width: 1100px){
		/* Tablets */
		#myPhoto{
			padding-top: 5%;
			width: 35vw;
		}
	}
	@media only screen and (max-width: 600px){
		/* Big smartphones */
		.back-video{			
			width: 100vw;
		}
		p{
			font-size:2rem;
		}
		b{
			font-size:2.5rem;
		}
		#pcVideo{
			display: none;
		}
		#mobileVideo{
			display: block;
		}
		#handWritten{
			padding-top: 40vh;
		}
	}
	@media only screen and (max-width: 450px){
		/* Tablets */
		#handWritten{
			padding-top: 15vh;
		}
	}
</style>
