---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Alvaro Larraya's portfolio">
	<Navbar
		github="https://github.com/alvarolarraya";
		linkedin="https://linkedin.com/in/álvaro-larraya-830700240";
		email="https://mail.google.com/mail/?view=cm&fs=1&to=alvaro.larraya1@gmail.com";
	/>
	<main>
		<video loop plays-inline controls controlslist="nodownload" disablepictureinpicture>
			<source src="/videos/presentation.mp4" type="video/mp4">
		</video>
	</main>
</Layout>

<style>
	main {
		margin-top: 3vh;
		display: flex;
  		justify-content: center;
		align-items: center;
		height: 97vh;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	#handWritten{
		padding-top: 20%;
		display: grid;
		justify-items: center;
	}
	video{
		height: 100%;
	}
</style>
