---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import ScrollArrow from '../components/scrollArrow.astro';
---

<Layout title="Alvaro Larraya's projects">
	<Navbar
		github="https://github.com/alvarolarraya12";
		linkedin="https://linkedin.com/in/álvaro-larraya-830700240";
		email="https://mail.google.com/mail/?view=cm&fs=1&to=alvaro.larraya1@gmail.com";
	/>
	<main>
		<h1>PROJECTS</h1>
		<p>
			<i><q>Setting an example is not the main means of influencing others, it is the only means.</q></i><i><br>Albert Einstein</i>
		</p>
		<ScrollArrow 
				client:load
				down="#cards"
				up=""
			/>
		<ul role="list" class="link-card-grid" id="cards">
			<!-- ahora esta puesto el link a github pero hacer una pagina dedicada -->
			<Card
				href="https://github.com/alvarolarraya12/bird_game"
				title="Wriggly warty witch"
				body="Javascript game object oriented. Your goal is to kill the witch"
				image_path="/imgs/demoBird.gif"
			/>
			<Card
				href=""
				title="Project 2"
				body="Learn how Astro works and explore the official API docs."
				image_path="/imgs/defaultImageProject.webp"
			/>
			<Card
				href=""
				title="Project 3"
				body="Supercharge your project with new frameworks and libraries."
				image_path="/imgs/defaultImageProject.webp"
			/>
			<Card
				href=""
				title="Project 4"
				body="Explore a galaxy of community-built starter themes.😄"
				image_path="/imgs/defaultImageProject.webp"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 10%;
		max-width: 80%;
		padding: 0;
	}
	h1{
		padding-top: 10%;
		padding-bottom: 0;
		background-size: 110%;
	}
	p {
		display: grid;
		place-items: center;
		padding: 4%;
		padding-bottom: 0px;
	}
	p i {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 48%);
		gap: 1rem;
		padding: 0;
	}
	#cards{
		padding-top: 7%;
	}
	q{
		color: rgb(255, 10, 10);
	}
</style>
