---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import ScrollArrow from '../components/ScrollArrow.jsx';
import React from 'react';
---

<Layout title="Alvaro Larraya's projects">
	<Navbar
		github="https://github.com/alvarolarraya";
		linkedin="https://linkedin.com/in/álvaro-larraya-830700240";
		email="https://mail.google.com/mail/?view=cm&fs=1&to=alvaro.larraya1@gmail.com";
	/>
	<main>
		<h1>PROJECTS</h1>
		<p>
			<i><q>Setting an example is not the main means of influencing others, it is the only means.</q></i><i><br>Albert Einstein</i>
		</p>
		<ScrollArrow
				down="#cards"
				up="#"
				client:only="react"
			/>
		<ul role="list" class="link-card-grid" id="cards">
			<Card
				card="1"
				href="./tfg/"
				title="Final college course project"
				body="A research on simple techniques to improve a CNN applied to FER2013"
				image_path="/imgs/tfg.webp"
				transition_image="tfg_img"
				transition_title="tfg_ttl"
			/>
			<Card
				card="2"
				href="./coins/"
				title="Coin's value classification"
				body="A predictor to put into practice some computer vision concepts"
				image_path="/imgs/coins.webp"
				transition_image="coins_img"
				transition_title="coins_ttl"
			/>
			<Card
				card="3"
				href="./salary/"
				title="Salary's range classification"
				body="In this project the goal is to showcase some data mining skills"
				image_path="/imgs/dataMining.webp"
				transition_image="salary_img"
				transition_title="salary_ttl"
			/>
			<Card
				card="4"
				href="./bird/"
				title="Wriggly Warty Witch"
				body="Javascript game object oriented. Your goal is to kill the witch"
				image_path="/imgs/demoBird.gif"
				transition_image="bird_img"
				transition_title="bird_ttl"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 10%;
		max-width: 80%;
		padding: 0;
	}
	h1{
		padding-top: 10%;
		padding-bottom: 0;
		background-size: 110%;
	}
	p {
		display: grid;
		place-items: center;
		padding: 4%;
		padding-bottom: 0px;
	}
	p i {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 48%);
		gap: 1rem;
		padding: 0;
	}
	#cards{
		padding-top: 7%;
	}
	q{
		color: rgb(255, 10, 10);
	}
</style>

<script>
	window.navigation.addEventListener('navigate', (event:any)=>{
		const toUrl = new URL(event.destination.url)
		if((location.origin != toUrl.origin)||(toUrl.href.indexOf('#cards') > -1)||(toUrl.href.indexOf('projects') == -1)) return
		event.intercept({
			async handler (){
				const response = await fetch(toUrl.pathname)
				const text = await response.text()
				document.startViewTransition(()=>{
					document.body.innerHTML = text;
					if(toUrl.href.indexOf('#')==-1){
						document.documentElement.scrollTop = 0;
					}else{
						document.getElementById(toUrl.href.substring(toUrl.href.indexOf('#')+1)).scrollIntoView();
					}
				})
			}
		})
	})
</script>