---
import Hamburger from '../components/Hamburger.astro';
import Contact from '../components/Contact.astro';

export interface Props {
    github: string;
	linkedin: string;
	email: string;
}

const { github, linkedin, email} = Astro.props;

---

<div id="navbar">
<div class="contact">
    <Contact
        linkedin={linkedin};
        github={github};
        email={email};
    />
</div>
<div id="menu">
    <Hamburger />
</div>
</div>


<style>
    #navbar{
        position:fixed;
        top:0;
        width:100vi;
        z-index: 100;
    }
    .contact{
        top:0;
        left:0;
        background-color:rgb(20, 20, 20);
        padding: 1%;
        margin:0;
    }
    .menu{
        height:100vh;
    }
</style>