---
export interface Props {
	total:number;
  currentPage:number;
}

const { total,currentPage} = Astro.props;
let pageNumbers = Array.from({ length: total-1 }, (x, i) => i);
---
<div id="paginationDiv">
  {(currentPage==1) ? <p class="currentPage">1</p> : <a href="/projects/">1</a>}
  {pageNumbers.map(pageNumber =>
    (currentPage==(pageNumber+2)) ? <p class="currentPage">{pageNumber+2}</p> : <a href={"/projects/"+(pageNumber+2)}>{pageNumber+2}</a>)}
</div><br>

<style>
  #paginationDiv{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2%;
      padding: 0;
      /* border-radius: 0.6rem; */
      border: 0;
    }
    a {
      font-size: 2em;
      color: white;
      text-decoration: none;
      transition: background-color .3s;
      cursor:default;
      border-radius: 0.6rem;
      border: 2px solid rgb(var(--accent));
      padding: 1%;
      margin: 1%;
    }
    #paginationDiv a:hover:not(.currentPage){
      text-decoration: underline;
      text-decoration-color: rgb(var(--accent));
      background-color: black;
      cursor: none;
    }
    .currentPage{
      background-color: rgb(var(--accent));
      font-size: 2.5em;
      border-radius: 0.6rem;
      border: 2px solid rgb(var(--accent));
      padding: 1%;
      margin: 1%;
    }
</style>