---
export interface Props{
    link:string;
}
const { link } = Astro.props;
---
<a href={link}>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
</a>

<style>
    svg{
        fill:#1a1a1a;
        background-color: rgb(var(--accent));
        border-radius: 50% 50% 50% 50%;
        margin:0;
        z-index: 99;
        position:fixed;
        top:8.5vw;
        left: 5vw;
        width:3.5vw;
        height:3.5vw;
    }
    @media only screen and (min-width: 1200px){
		a:hover svg{
            background-color: white;
            width:4vw;
            height:4vw;
            left: 4.75vw;
            top:8.25vw;
        }
	}
    @media only screen and (max-width: 1200px){
		svg{      
            top:22vw;  
            left: 7vw;
            width:5vw;
            height:5vw;
        }
	}
    @media only screen and (max-width: 600px){
		svg{      
            top:26vw;  
            left: 7vw;
            width:7vw;
            height:7vw;
        }
	}
    @media only screen and (max-width: 450px){
		svg{   
            top:30.5vw;     
            left: 7vw;
            width:8vw;
            height:8vw;
        }
	}
</style>