---
export interface Props{
    down:string;
    up:string;
}
const { up,down } = Astro.props;
---

<a href={down}>
    <lord-icon
        id="downArrow"
        src="https://cdn.lordicon.com/albqovim.json"
        trigger="loop"
        delay="100"
        colors="primary:#ff5050">
    </lord-icon>
</a>

<a href={up}>
    <lord-icon
        id="upArrow"
        src="https://cdn.lordicon.com/xdakhdsq.json"
        trigger="hover"
        colors="primary:#ff5050">
    </lord-icon>
</a>

<style>
    #downArrow,#upArrow{
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 10%;
        height: 10%;
        z-index: 100;
    }

    html:not([data-scroll='0']) #downArrow{
        display:none;
    }

    html:is([data-scroll='0']) #upArrow{
        display:none;
    }
</style>


<script>
document.documentElement.dataset.scroll = 0;
document.addEventListener('scroll', () => {
    document.documentElement.dataset.scroll = window.scrollY;
});
</script>